<div class="w-50 m-auto my-5">
  <h3 class="my-3 text-secondary">THÊM MỚI DỊCH VỤ</h3>
  <form>
    <div class="mb-3">
      <label class="form-label">Tên dịch vụ</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Giá dịch vụ</label>
      <input type="text" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label">Mô tả</label>
      <input type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Thêm mới</button>
    <button type="submit" class="mx-3 btn btn-danger">Hủy</button>
  </form>
</div>

