<div class="row">
  <div class="col-2"></div>
  <div class="col-8 p-3 shadow shadow-lg rounded-3 my-5 bg-white">
    <h3 class="mt-2 mb-3 py-2 text-secondary">DANH SÁCH HỢP ĐỒNG</h3>
    <table class="table table-hover">
      <thead>
      <tr>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th>Name</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      <tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr><tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr><tr>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>AAA</td>
        <td>
          <button class="btn btn-sm btn-warning me-2">Sửa</button>
          <button class="btn btn-sm btn-danger">Xoá</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="row">
      <nav aria-label="Page navigation example">
        <ul class="pagination d-flex justify-content-center">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
  <div class="col-2"></div>
</div>
