<div class="row">
  <div class="col-2"></div>
  <div class="col-8 p-3 shadow shadow-lg rounded-3 my-5 bg-white">
    <h3 class="mt-2 mb-3 py-2 text-secondary">THÊM MỚI KHÁCH HÀNG</h3>
    <form class="px-5">
      <div class="mb-3">
        <label class="form-label">Tên khách hàng</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Địa chủ email</label>
        <input type="text" class="form-control">
      </div>
      <div class="mb-3">
        <label class="form-label">Số điện thoại</label>
        <input type="text" class="form-control">
      </div>
      <button type="submit" class="btn btn-primary">Thêm mới</button>
      <button type="submit" class="mx-3 btn btn-danger">Hủy</button>
    </form>
  </div>
  <div class="col-2"></div>
</div>

